.socialpick select.d_form {
	margin: 0.3em 0;
}

.socialpick_content li span.rank{
	color: rgb(192, 62, 62);
}

.socialpick_content li span.info{
	float: right;
	color: #666;
	font-size: 1em
}
.socialpick_content li{
	margin:0.5em 0 0.5em;
}